* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#birthdate-form {
  margin-top: 1.7em;
}
label {
  font-weight: bold;
  margin-right: 1em;
}
#birthdate {
  padding: 0.3em;
  font-size: 1.2em;
  border-radius: 0.3em;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#resultList {
  padding: 0.1em;
  margin-top: 0.1em;
}

#resultItem {
  padding: 1em;
}

#HowManyEventsHappened {
  display: none;
  padding: 1em;
  margin: auto;
  text-align: center;
}

#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#loadMoreBtn {
  display: none;
  align-items: center;
  margin: 20px auto;
}
